

/* PC SCREEN */
@media screen and (min-width: 768px){

  .Customer {
    background-color: var(--color8);
  }

  .Categories {
    align-items: center;
    justify-content: center;
    display: grid;
    grid-template-columns: auto auto;
    padding: 10px 20px;
    gap: 10px;
    margin: 10px;
  }

  .boxcust {
    position: relative;
    align-items: flex-start;
    padding: 20px;
    border: 1px solid #000;
    border-radius: 15px;
    background-color: var(--color1);
    color: #fff;
    font-weight: bold;
    font-size: 1.2em;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 500px;
    height: 300px;
  }

  .Items {
    align-items: center;
    justify-content: center;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 20px; 
  }

  .item-button {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border: 1px solid #000;
    border-radius: 15px;
    background-color: var(--color1);
    color: #000;
    font-weight: bold;
    font-size: 1.2em;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 450px;
    height: 300px;
    box-sizing: border-box; 
    top: 60px;
  }

  .mod-image {
    max-width: 300px;
    height: auto;
    border-radius: 50%;
    margin: 0 auto;
    display: block;
    margin-right: 5%;
    margin-top: 14vh; 
  }
  
  .text-sizes {
    font-size: 35px;
    font-weight: bold;
    margin-right: 300px;
    margin-top: 90px;
    width: 480px;
  }

  .container-hot {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    margin: 10px;
    margin-right: 49%;
    margin-top: 0%;
  }

  .container-milk {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    margin: 10px;
    margin-left: 9%; 
    margin-top: 0%;
  }

  .item-content {
    display: flex;
    flex-direction: row; 
    align-items: center;
    margin-top: -110px; 
    margin-left: 100px;
  }

  .quantity-container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    position: relative;
    top: 175%;
    margin-left:0%;
  }

  .quantity-button {
    cursor: pointer;
    font-size: 18px;
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    width: 80px;
    color: #000;
  }

  .checkout-button-cust {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border: 1px solid #000;
    border-radius: 15px;
    background-color: #8FDCB4;
    color: #000; 
    font-weight: bold;
    font-size: 1.2em;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 200px;
    height: 75px;
    margin-left: 70%; 
    margin-top: 1%;
    z-index: 1; 
  }

  .back-button2 {
    position: absolute;
    display: flex;
    align-items: center;
    top: 180px;
    left: 0;
    height: 0px;
    cursor: pointer;
    color: var(--color9);
  }


  .order-details3 {
    color: #fff;
    background-color: var(--color1);
    padding: 10px 5vw; 
    border-radius: 5px;
    width: 55vw;
    height: 250px;
    border: 4px solid #2AA07C;
    box-sizing: border-box;
    margin-left: -25%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .checkout-add-more {
    background-color: #8FDCB4;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 400px; 
    top:100%; 
    margin-left:-650px; 
  }

  .piccheckout-image {
    margin-left: -2%;
  }

  .cost-and-checkout{
    display: block
  }

  .button-row{
    display: flex;
    flex-direction: column;
  }

  .checkout-add-more-items, .deleteButton{
    width: 30vh;
    padding: 10px;
    margin-bottom: 2%;
    align-self: center;
    background-color: var(--color3);
    border-radius: 5px;
    color: #212227;
    font-size: large;
    border: 1px solid #2aa07c;
  }

  .cost-text-cust {
    margin-top: 2%;
    font-size: 23px;
    font-weight: bold;
    text-align: center;
    color: var(--color5);
  }

  .checkout-close-button{
    width: 30vh;
    padding: 20px;
    align-self: center;
    background-color: var(--color4);
    color: #212227;
    border: 1px solid #2aa07c;
    border-radius: 5px;
    font-size: large;
  }
}

/* MOBILE SCREEN */ /*767*/
@media screen and (max-width: 767px){
  .Categories {
    align-items: center;
    justify-content: center;
    display: grid;
    grid-template-columns: auto; /* Change to have one column */
    padding: 10px 20px;
    gap: 10px;
    margin: 10px;
  }

  .item-name{
    margin-left: 60%;
    font-size: small;
  }

  .zoom button{
    background-color: var(--color10);
    border: 3px solid #2aa07c;
    border-radius: 5px;
    height:50px;
    width:50px;
    gap: 5px;
    padding: 5px;
    color:#2aa07c;
  }
  
  .boxcust {
    position: relative;
    align-items: flex-start;
    padding: 20px;
    border: 1px solid #000;
    border-radius: 15px;
    background-color: #fff;
    color: #fff;
    font-weight: bold;
    font-size: 1.2em;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 400px;
    height: 300px;
  }

  .Items {
    align-items: center;
    justify-content: center;
    display: grid;
    grid-template-columns: auto;
    grid-gap: 20px; 
  }

  .item-button {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border: 1px solid #000;
    border-radius: 15px;
    background-color: #fff;
    color: #000;
    font-weight: bold;
    font-size: 1.2em;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 400px;
    height: 300px;
    box-sizing: border-box; 
    top: 60px;
  }

  .mod-image {
    max-width: 130px; 
    height: auto;
    border-radius: 50%;
    margin: 0 auto;
    display: block;
    margin-right: 0%; 
    margin-top: 14vh; 
  }

  .text-sizes {
    font-size: 35px;
    font-weight: bold;
    margin-right: 100px;
    margin-top: 90px;
    width: 280px;
  }

  .container-hot {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    margin: 10px;
    margin-right: -29%; 
    margin-top: 0%;
  }

  .container-milk {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    margin: 10px;
    margin-left: 20%; 
    margin-top: 0%;
  }

  .item-content {
    display: flex;
    flex-direction: row; 
    align-items: center;
    margin-top: 5px; 
    margin-left: 100px;
  }

  .item-name{
    margin-left: 60%;
  }

  .quantity{
    margin-left: 50%;
  }

  .quantity-container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    position: relative;
    top: 100px;
    margin-left: -52%;
  }
  
  .quantity-button {
    cursor: pointer;
    font-size: 18px;
    padding: 5px 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    width: 20px;
    color: #000;
  }

  .button-row{
    display: flex;
    flex-direction: column;
  }

  .back-button2 {
    position: absolute;
    display: flex;
    align-items: center;
    top: 115px; 
    left: 0;
    height: 0px;
    cursor: pointer;
    color: var(--color9);
  }

   .order-details3 {
    color: #fff;
    padding: 10px 5vw; /* 5% of the viewport width */
    border-radius: 5px;
    height: 250px;
    border: 4px solid #2AA07C;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90vw;
    margin-left: -134vw; /* Center horizontally on smaller screens */
  }

  .piccheckout-image {
    margin-right: 10px;
    max-width: 130px; 
    height: 150px;
  }

  .checkout-add-more-items, .deleteButton{
    width: 30vh;
    padding: 10px;
    margin-bottom: 2%;
    align-self: center;
    background-color: #8fdcb4;
    border-radius: 5px;
    color: #212227;
    font-size: large;
    border: 1px solid #2aa07c;
  }

  .checkout-close-button{
    width: 30vh;
    padding: 20px;
    align-self: center;
    background-color: #2aa07c;
    color: #212227;
    border: 1px solid #2aa07c;
    border-radius: 5px;
    font-size: large;
  }
}

.MenuTitle {
  text-align: center;
  padding: 20px;
  color: var(--color5);
}

.order-item-select.selected .order-details3,
.order-item-select.selected .order-details3 .piccheckout-image,
.order-item-select.selected  .order-details3 .checkout-info,
.order-item-select.selected  .order-details3 .price-container
{
  background-color: #DDF2EB;
}

.box2.clicked {
  background-color: var(--color2);
}

.box.clicked {
  background-color: var(--color2);
}

.box:hover {
  background-color:#DDF2EB;
}

.box2:hover{
  background-color:#DDF2EB;
}

.boxcust:hover{
  background-color:#DDF2EB;
}

.item-button:hover {
  background-color:#DDF2EB;
}

.boxcust-image {
  width: 350px;
  height: 200px;
  border-radius: 50%;
  margin: 0 auto;
  display: block;
}

.boxcust-text {
  margin-top: auto;
  text-align: center;
  color: #000;
  width: 100%;
  font-family: 'Open Sans', sans-serif;
  font-weight: 500; 
}

.item-image {
  width: 250px;
  height: 200px;
  border-radius: 50%;
  margin-bottom: 10px;
  display: block;
}

.image-item-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: var(--color5);
}

.image-title {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px; 
  margin-right: 30px;
}

.description {
  font-weight: normal;
  font-size: 15px;
}

.title-section {
  width: 90%; 
  text-align: left;
  margin-bottom: 10px;
  margin-left: 12%;
  font-weight: bold;
  font-size: 1.30em;
  display: block;
  margin-top: 5px;
}

.milk-section {
  width: 98%; 
  text-align: left; 
  margin-bottom: 10px; 
  margin-left: 20%;
}

.milk-buttons {
  display: flex;
  flex-direction: row;
  margin: 0; 
  padding: 0; 
  align-items: flex-start; 
}

.milk-buttons button {
  margin-right: 10px; 
}

.back-button2 svg {
  border: none;
  background: none;
}

.box2,
.box {
  width: 200px; 
  margin-top: 10px; 
  border: 1px solid #000;
  border-radius: 15px;
  background-color: var(--color1);
  color: #fff;
  width: 250px;
  height: 150px;
  transition: background-color 0.3s;
}

.box-text {
  margin-top: 40px;
  color: #000;
  width: 100%;
  font-family: 'Open Sans', sans-serif;
  font-weight: 500; 
  font-size: 25px;
  text-align: center;
}

.checkout-button-cust:hover {
  background-color: #DDF2EB;
  color:#212227;
}

.checkout-close-button:hover {
  background-color: var(--color7);
  color:#212227;
}

.checkout-add-more-items:hover {
  background-color: #DDF2EB;
  color:#212227;
}

.deleteButton:hover {
  background-color: #DDF2EB;
  color:#212227;
}

.quantity-button:hover {
  background-color: #DDF2EB;
}

.checkout-text{
  text-align: center;
  font-size: 20px;
}

.quantity2-container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  position: relative;
  margin-top: 50px;
  left:-500px;
}

.quantity-display {
  font-size: 18px;
  margin: 0 10px;
  width: 40px;
}

.line-between {
  position: relative;
}

.line-between::after {
  content: "";
  display: block;
  height: 2px;
  background-color: #000;
  position: relative;
  bottom:0px;
  left: 0;
  right: 0;
  z-index: 1;
}

.line-between2 {
  position: relative;
}

.line-between2::after {
  content: "";
  display: block;
  height: 2px;
  background-color: #000;
  position: relative;
  bottom: -100px;
  left: 0;
  right: 0;
  z-index: -5;
}

.price-text {
  font-weight: normal;
}

.piccheckout-content {
  display: flex;
  align-items: left;
  margin-top: 40px;
  margin-right: 1200px;

}

.checkout-item-container {
  display: flex;
  align-items: center;
  margin-top: 140px;
  margin-right: 500px;
}

.checkout-image {
  margin-right: 20px;
  width: 350px;
  height: 200px;
  border-radius: 50%;
}

.new-order button {
  background-color: var(--color6);
  color: var(--color8);
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.back-button {
  background-color: var(--color6);
  color: var(--color8);
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.Back2 {
  margin-top: 0;
  margin-right: 0; /* Remove margin-right */
  margin-bottom: 4%;
  padding: 1%;
}

.Back {
  display: flex;
  top: 20%; 
  right: 4%; 
  padding: 1%; 
}

.close-Button button {
  background-color: #8FDCB4;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px; 
  top: 100%; 
  left: 0; 
}
.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 20px;
  border: 1px solid #ccc;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 999;
  width: 400px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid #8FDCB4;
}

.modal-content {
  text-align: center;
  color:rgba(0, 0, 0, 0.5)
}

.modal p {
  font-size: 18px; 
  font-weight: bold; 
}

/* Style for the close button inside the modal */
.modal button {
  margin-top: 10px;
  padding: 10px;
  background-color: #DDF2EB;
  color: #000;
  border: none;
  cursor: pointer;
}

/* Style for the overlay background */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 998;
}

.order-item2 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px; 
  margin-bottom: 20px; 

} 

.image-item-container-sp {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-left: 600px;
}

.checkout-title {
  margin-left: -165px; 
  line-height: 1.2;
  margin-top: 30px;
}

.checkout-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.item-name{
  font-size: x-large;
  font-weight: bold;
  color: #000;
}

.quantity {
  font-size: 16px;
  color: #555;
}

.modifications-container {
  display: flex;
  flex-direction: column;
  font-size: 16px;
  color: #555;
  margin-left: 10px;
}

.modifications-cust,
.modifications-temp {
  margin-bottom: 10px;
  box-sizing: border-box;
  text-align: center; 
  margin-left: 0;
}

.price-container {
  font-size: 20px;
  color: #000;
}

.checkout-button-cust{
  background-color: var(--color3);
  border: 3px solid #2aa07c;
  border-radius: 5px;
}


